manifest {
    name            = 'jodjo86/wf-ont-qc'
    description     = 'Merge Nanopore FASTQ by barcode, QC/preprocess with fastplong, and produce a run-level fastplong summary report'
    author          = 'JP'
    homePage        = 'https://github.com/jodjo86/wf-ont-qc'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.0'
    version         = '1.1.0'
}

params {
    help                                = false
    input                               = null
    out_dir                             = 'output'
    fastplong_trim_front                = 20
    fastplong_trim_tail                 = 20
    fastplong_disable_adapter_trimming  = true
    fastplong_discard_chimeric_reads    = true
    fastplong_mean_qual                 = 14
    fastplong_length_required           = 300
    fastplong_length_limit              = 10000
    sequencing_summary                  = null
    run_name                            = null
}

docker {
    enabled    = true
    runOptions = '-u $(id -u):$(id -g)'
}

process {
    withLabel: 'process_single' {
        cpus   = 1
        memory = '2 GB'
    }
    withLabel: 'process_medium' {
        cpus   = 4
        memory = '8 GB'
    }
}
