manifest {
    name            = 'QC_ONT'
    description     = 'Merge Nanopore FASTQ by barcode and QC/preprocess with fastplong'
    author          = 'dastous.joel@gmail.com'
    nextflowVersion = '>=23.04.0'
    version         = '1.0.0'
}

params {
    help           = false
    input          = null
    outdir         = 'output'
    fastplong_args = '--trim_front 20 --trim_tail 20 --disable_adapter_trimming --discard_chimeric_reads --mean_qual 14 --length_required 300 --length_limit 10000'
}

docker {
    enabled    = true
    runOptions = '-u $(id -u):$(id -g)'
}

process {
    withLabel: 'process_single' {
        cpus   = 1
        memory = '2 GB'
    }
    withLabel: 'process_medium' {
        cpus   = 4
        memory = '8 GB'
    }
}
